// src\components\sound\style.scss

.sound-control {
    audio {
        display: none;
    }

    .sound-toggle-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        // &:focus {
            // outline: 2px solid #fff; // Добавляем визуальную индикацию фокуса для доступности
            // outline-offset: 2px;
        // }

        .equalizer-icon {
            width: 30px;
            height: 30px;
            color: #fff;

            .bar {
                transform-origin: bottom;
                transform: scaleY(0.9);
                transition: transform 0.5s ease;
            }

            &.playing {
                .bar {
                    transform: scaleY(1);
                }

                .bar1 {
                    animation: equalizer1 0.65s infinite alternate;
                }
                .bar2 {
                    animation: equalizer2 0.65s infinite alternate;
                    animation-delay: 0.1s;
                }
                .bar3 {
                    animation: equalizer3 0.65s infinite alternate;
                    animation-delay: 0.3s;
                }
                .bar4 {
                    animation: equalizer4 0.65s infinite alternate;
                    animation-delay: 0.2s;
                }
            }
        }
    }
}

@keyframes equalizer1 {
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes equalizer2 {
    0% {
        transform: scaleY(0.3);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes equalizer3 {
    0% {
        transform: scaleY(0.6);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes equalizer4 {
    0% {
        transform: scaleY(0.4);
    }
    100% {
        transform: scaleY(1);
    }
}