@import "../../assets/sass/helper";

.sound-control {
  audio {
    display: none;
  }

  .sound-toggle-btn {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .toggle-text {
      position: relative;
      --animate-trans: translateY(5px) rotateX(75deg);

      .text-open, .text-close {
        position: absolute;
        top: 0;
        left: 0;

        .char {
          opacity: 0;
          visibility: hidden;
          transform: var(--animate-trans);
        }
      }

      .text-open, .text-close, .text-menu {
        overflow: hidden;
        will-change: transform;

        .char {
          will-change: transform;
          transition-property: opacity, visibility, transform;
          transition-duration: 0.5s;
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
      }
    }

    &:hover {
      .text-menu {
        .char {
          opacity: 0;
          visibility: hidden;
          transform: var(--animate-trans);
        }
      }

      &:not(.open) .text-open .char,
      &.open .text-close .char {
        opacity: 1;
        visibility: visible;
        transform: none;
      }
    }
  }
}
