// Backgrounds & Text & Links & Borders
// src\assets\sass\variables-site\_colors.scss
//------> Dark Color
$bg-color: var(--bg-color);
$assistant-color: var(--assistant-color);
$body-color: var(--font-color);
$heading-color: var(--heading-color);
$border-color: var(--border-color);





