// .site-header {
//     background: rgb(0,3,34) !important;
//     background: linear-gradient(180deg, rgba(0,3,34,1) 0%, rgba(0,3,34,0.5) 100%) !important;
// }

.desc {
    margin-top: 20px;
    @media (min-width: 991px) {
        max-width: 40%;
    }
}

// .color-heading {
//     @media (min-width: 991px) {
//         padding-bottom: 20px;
//     }
// }

.cover-bg-img {
    @media (max-width: 991px) {
        opacity: 0.5 !important;
    }
}