// src\components\AnimatedLogo.scss

.animated-logo {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1.5rem + 2vw);
    color: #fff;
    user-select: none; // Отключаем выделение текста
    // margin-left: 5px;
    max-width: 100%;

    .bracket {
        font-weight: 500;
        font-size: calc(1.5rem + 2.5vw); // Скобки чуть больше текста
        // margin-bottom: 10px;
        // margin-bottom: 0.5rem;
    }

    .logo-text {
        // margin: 0 10px; // Отступы между скобками и текстом
        letter-spacing: 2px; // Расстояние между буквами
        font-weight: 500; // Жирный текст
    }

    .char {
        display: inline-block; // Для анимации букв
    }

    .v-light & {
        color: #000;
    }

    .v-dark & {
        color: #fff;
    }

    // Ограничиваем максимальный размер шрифта на больших экранах
    @media (min-width: 1200px) {
        font-size: 3rem; // Максимальный размер шрифта
        margin-left: 5px;
        .bracket {
            font-size: 3.5rem;
            margin-bottom: 0.5rem;
        }
    }

    // Уменьшаем размер шрифта на очень маленьких экранах
    @media (max-width: 576px) {
        font-size: calc(1.5rem + 1.5vw); // Меньший базовый размер для маленьких экранов
        margin-left: 20px;
        .bracket {
            font-size: calc(1.5rem + 2vw);
            margin-bottom: 0.2rem;
        }
    }
}